body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #580891 0%, #280241 100%);
  color: white;
  font-family: 'Lato', Chivo, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b009ec;
  border: 0px none #af0d0d;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fb00ff;
}
::-webkit-scrollbar-thumb:active {
  background: #ba00c7;
}
::-webkit-scrollbar-track {
  background: #60007a;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #5a00a3;
}
::-webkit-scrollbar-track:active {
  background: #540099;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  background-color: #6500A4;
  border: 10px solid #6500A4;
  border-radius: 65px;
  height: 100px;
  max-width: 1371px;
  max-height: 100px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.logo {
  width: 325px;
  height: 80px;
}

.media {
  display: flex;
  grid-gap: 50px;
}

.money {
  width: 75px;
  height: 75px;
  border: 5px solid white;
  border-radius: 30px;
  background-color: white;
}

.youtube {
  width: 75px;
  height: 75px;
  border: 5px solid white;
  border-radius: 30px;
  background-color: white;
}

.telegram {
  width: 75px;
  height: 75px;
  border: 5px solid white;
  border-radius: 30px;
  background-color: white;
}

.money:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 20px 5px white;
}

.youtube:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 20px 5px white;
}

.telegram:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 20px 5px white;
}

.menu {
  margin: 0 auto;
  background: #63039E;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 20px 20px;
  height: 87px;
  max-width: 1293px;
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 29px;
  align-items: center;
  display: flex;
  text-align: center;
  grid-gap: 30px;
  justify-content: center;
}

.download {
  background-color: #07FF02;
  border: 5px solid #07FF02;
  border-radius: 50px;
}

.download:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 20px 10px limegreen;
}

.link:hover {
  transition: 0.5s;
  border-radius: 20px;
  background: lightpink;
  box-shadow: 0px 0px 20px 10px lightpink;
}

.filter {
	margin: 0 auto;
	margin-top: 33px;
	background: #63039E;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
	width: 25%;
	height: 50px;
	border-radius: 20px;
	max-width: 355px;
}

.container {  
	display: flex;
	grid-gap: 20px;
	width: 1010px;
	max-width: 1293px;
	margin: 0 auto;
	margin-top: 33px;
	justify-content: center;
	height: 100%;
}

.list {
	font-family: 'Chivo';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 43px;
	background: #63039E;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	text-align: center;
	padding: 1%;
	width: 125px;
}

.versions {
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 7%;
	padding-bottom: 7%;
}

.versions:hover {
	transition: 0.2s;
  border-radius: 20px;
  background: lightpink;
  box-shadow: 0px 0px 20px 10px lightpink;
}

.area {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 20px;
}

.area_two {
   display: flex;
   justify-content: space-between;
   height: 100%;
   grid-gap: 20px;
}

  
.item {
	background: #63039E;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
   padding: 5%;
}

.item:hover {
	transition: 0.5s;
  box-shadow: 0px 0px 20px 10px lightpink;
}

.item_img {
border-radius: 20px;max-width: 340px;
	max-width: 386px;
	max-height: 200px;
	width: 386px;
	height: 200px;
	border-radius: 20px;
	margin-bottom: 11px;
	width: 100%;
}

.item_title {
	font-family: 'Inter', Chivo, Lato, Arial, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
margin-top: 11px;
margin: 0 auto;
}

.item_text {
	font-family: 'Inter', Chivo, Lato, Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
height: 87px;
max-height: 87px;
text-overflow: ellipsis;
overflow: scroll;
display: inherit;
max-width: 381px;
}

.form_dt {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  padding-right: 5%;
}

.bar {
  background: #1C0125;
box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
border-radius: 50px;
max-width: 985px;
height: 308px;
margin: 0 auto;
margin-top: 132px;
display: flex;
font-family: Chivo, 'Lato', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
justify-content: space-around;
}

.data {
  text-align: center;
  font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
font-family: Chivo, 'Lato', Arial, sans-serif;
margin-top: 25px;
}

@media screen and (max-width: 1440.90px) {
  .header {
    height: 80px;
    border: unset;
  }
  .menu {
    max-width: 1050px;
    font-size: 8px;
    height: 55px;
    grid-gap: 20px;
  }
  .title-one {
    font-size: 38px;
  }
  .title-two {
    font-size: 28px;
  }
}

@media screen and (max-width: 1150.90px) {
  .main {
    -webkit-box-shadow: inset -1px -200px 80px -102px rgba(66,1,106,1);
  -moz-box-shadow: inset -1px -200px 80px -102px rgba(66,1,106,1);
  box-shadow: inset -1px -200px 80px -102px rgba(66,1,106,1);
  }
  .header {
    border-radius: unset;
  }
  .container {
  	max-width: 660px;
  }
  .list {
  	font-size: 14px;
  	line-height: 25px;
  	width: 70px;
  }
  .area {
  	grid-gap: 45px;
  }
  .item_img {
  	height: 125px;
  }
  .item_title {
  	font-size: 24px;
  	padding-top: unset;
  }
  .item_text {
  	font-size: 14px;
  	padding-top: unset;
  }
  .friends {
    width: 300px;
    height: 300px;
  }
  .bar {
    max-width: 490px;
    font-size: 28px;
  }
  .data {
    font-size: 16px;
  }
}

@media screen and (max-width: 970.90px) {
  .logo {
    width: 250px;
    height: 60px;
  }
  .media {
    grid-gap: 20px;
  }
  .money {
    width: 50px;
    height: 50px;
  }
  .youtube {
    width: 50px;
    height: 50px;
  }
  .telegram {
    width: 50px;
    height: 50px;
  }
  .menu {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px;
  grid-template-rows: 100px 100px 100px 100px 100px; 
  column-gap: 30px;
  row-gap: 1px;
    max-width: 770px;
    height: 290px;
  }
  .link {
    padding: 3% 0%;
    border: 7px solid #3D0261;
    border-radius: 20px;
    background-color: #220136;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  }
  .title-one {
    font-size: 28px;
  }
  .title-two {
    font-size: 20px;
  }
  .text {
    font-size: 20px;
    max-width: 400px;
    padding-top: unset;
    padding: 3%;
  }
  .friends {
    width: 200px;
    height: 200px;
    align-items: center;
  }
  .bar {
    width: 350px;
    font-size: 20px;
    height: 255px;
  }
}
@media screen and (max-width: 768.90px) {
  .menu {
    display: grid;
    grid-template-columns: 115px 130px 100px;
  grid-template-rows: 100px 100px 100px; 
  column-gap: 30px;
  row-gap: 1px;
    max-width: 420px;
    height: 400px;
  }
  .wrapper_main {
    margin-top: 40px;
  }
  .main {
    height: 1000px;
  }
}

@media screen and (max-width: 700.90px) {
	.container {
		width: auto;
		padding: 0 10%;
	}
	.area {
		grid-template-columns: 0.5fr;
	}
	.item {
		width: 328px;
	}
	.item_img {
		width: 325px;
	}
	.item_text {
		white-space: unset;
		font-size: 12px;
	}
}

@media screen and (max-width: 500.90px) {
  .main {
    height: 900px;
  }
  .header {
    height: 40px;
  }
  .logo {
    width: 150px;
    height: 30px;
  }
  .money {
    width: 25px;
    height: 25px;
  }
  .youtube {
    width: 25px;
    height: 25px;
  }
  .telegram {
    width: 25px;
    height: 25px;
  }
  .title-one {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .title-two {
    font-size: 12px;
    line-height: 30px;
  }
  .thanks {
    grid-gap: 10px;
  }
  .container {
  	padding: unset;
  }
  .bar {
    max-width: 220px;
    font-size: 16px;
  }
}
@media screen and (max-width: 450.90px) {
  .menu {
    display: grid;
    grid-template-columns: 125px 125px;
  grid-template-rows: 70px; 
  column-gap: 10px;
  row-gap: 1px;
    max-width: 270px;
    height: 400px;
  }
  .item {
  	width: 255px;
  }
  .item_img {
  	width: 254px;
  }
}

@media screen and (max-width: 350.90px) {
  .main {
    height: 850px;
  }
  .text {
    line-height: 32px;
    border-radius: 25px;
    max-height: 220px;
    overflow: hidden;
  }
  .item {
  	width: 200px;
  }
  .item_img {
  	width: 199px;
  }
  .bar {
    margin-top: 50px;
  }
}